@import url('http://fonts.cdnfonts.com/css/samarkan');

:root {
    --orange: #f09833;
    --blue: #173187;
    --green: #49890e;
    --white: #ffffff;
}



.divforimage {
    background-image: url(https://i.pinimg.com/564x/db/65/a2/db65a21367f65fed1666bbce1690cabe.jpg);
    width: 65vh;
    height: 100vh;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -8px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 25px 25px 50px 15px white inset, -25px 25px 50px 25px white inset;
}



.divfortext {
    float: right;
    height: 100%;
    width: 80%;
    background-size: contain;
    color: rgb(29, 167, 125);
}


.card {
    border-radius: .375rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3.25rem;
    line-height: 24px;
    font-size: 14px;
    padding-top: 0%;
    padding-top: 6%;
    padding-bottom: 4%;
    padding-left: 6%;
    padding-right: 7%;
    margin-bottom: 0px;
    width: 678.166px;
    margin-left: 1px;
    height: 514.784px;
    margin-top: 17px;
}

body {
    background: #f7f9f9;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    background-image: linear-gradient(to left bottom, #EF9637, #F1A350, #F3B069, #EAF4F0, #EDF5F2, #89C484, #71B86B, #5AAC52, #42A039);
}


#btn {
    border-radius: .25rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.375;
    padding: 8px 20px;
    display: block;
    width: 100%;
    background-color: #1d539f;
    border-color: #0d3f86;
    color: #fff;
}

h1 {
    font-family: 'Samarkan', sans-serif;
}